
.weather_area{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(137, 195, 241);
    border-radius: 10px;
    background-image: url('https://i.pinimg.com/736x/66/9e/a0/669ea092e14f4d9e4f3a9229825bfa41.jpg');
    background-size: cover;
    box-shadow:5px 10px 8px #888888;
}
    
h1{
    color:blue;
    text-shadow: 2px 2px 4px #000000;
}
.input_area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
input{
    border: none;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    
}
.get_btn{
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: gold;
}
.location_area{
    text-align: center;
    margin-top: 30px;
    color: white;
}